* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin: 20px; */
  background: #f9f9f9;
}
h2 {
  color: #333;
}
/* Hero section styling */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;
  background: #fff;
}

.hero-text {
  flex: 1;
  padding-right: 40px;
}

.hero-text h1 {
  font-size: 2.2rem;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  color: #444;
}

.hero-img {
  flex: 1;
  text-align: right;
}

.hero-img img {
  max-width: 350px;
  border-radius: 12px;
}

header {
  text-align: center;
  padding: 10px;
  background: cyan;
  color: black;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  background: white;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

button {
  background: #007BFF;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* form */

/* Form container */
.form-container {
  max-width: 400px;
  margin: 9px auto;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Heading */
.form-container h2 {
  text-align: center;
  margin-bottom: 7px;
  color: #333;
}

/* Form groups */
.form-group {
  margin-bottom: 7px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #007BFF;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}

/* Messages */
.success-msg {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.error-msg {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}
